#skills{
overflow: hidden;
width:100vw;
max-width: 65rem;
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
text-align: center;
margin:0 auto;
}
.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;

}
.skillDesc{
    font-size:1rem;
    font-weight:200;
    max-width:50rem;
    padding:0 2rem;
}
.skillBarImg{
    object-fit: cover;
    height:4rem;
    width:4rem;
    margin:1rem 1rem;
}
.skillBar{
    display: flex;
    align-items: center;
    background:rgb(50,50,50);
    max-width: 50rem;
    width:50vw;
    border-radius: 2rem;
    margin:1rem auto;
}